<ion-modal-view>
    <ion-content>
       <p class="accueil">SVAIN</p>
        <a class="button  button-clear button-balanced accueil" ng-click="inscription()">
            Inscription
        </a>
        <button class="button button-clear button-calm accueil" ng-click="login()">
            Connexion
        </button>
        <button href="#/app/youtubeur" class="button button-clear button-assertive accueil2">
            Invité
        </button>
        </ion-content>
    </ion-content>
</ion-modal-view>