<ion-view view-title="" xmlns="http://www.w3.org/1999/html">
    <ion-content id="info">
        <p>Video City c'est l'événement rassemblant les créateurs vidéo de toutes les communautés : humour, beauté, gaming, musique, cuisine, sport, chroniques/découvertes... à l'occasion d'un festival exceptionnel au Parc des Expositions de Paris.</p>
        <strong class="info">HORAIRES<br></strong>
        <p>Tous les jours de 9h à 19h (sauf dimanche fermeture à 18h).<br></p>

        <strong class="info">ADRESSE<br></strong>
        <p>Parc des expositions Paris Expo - Porte de Versailles, Paris</p>
        <img class="plan" src="../img/plan.jpg">
    </ion-content>
</ion-view>
