<ion-view view-title="Youtubeur">
    <ion-content>
        <h1>Les Youtubeurs <img class="list" ng-click="showList()" src="../css/liste.png"></h1>
        <div ng-click="showList()">showList()</div>
            
            <div style="text-align: center;">
                <button class="button tri button-light" ng-click="Tous()">
                 Tous
                </button>

                <button class="button tri button-light" ng-click="humour()">
                 Humour
                </button>

                <button class="button tri button-light" ng-click="Beaute()">
                  Beauté
                </button>
                <button class="button tri button-light" ng-click="Gaming()">
                    Gaming
                </button>
                <button class="button tri button-light" ng-click="Sport()">
                    Sport
                </button>
                <button class="button tri button-light" ng-click="Musique()">
                    Musique
                </button>
                <button class="button tri button-light" ng-click="Education()">
                   Education
                </button>
                 </div>
<div>

            <input type="text" placeholder="Recherche un Youtubeur ..." list="users" data-ng-model="task" ng-init="task=''" style="width: 100%; text-align: center;"/>
 
            <datalist id="users">
            <option data-ng-repeat="user in users" value="{{user.nom}}" />
            </datalist>
            </div>
            <div class="box">
                <div  class="nom select" ng-repeat="user in users | filter:{display:1, nom:task}">
                <a class="lien" href="#/app/youtubeur/{{user.nom}}" >
                    <img class="img-responsive" src="../img/{{user.nom}}.jpg">
                    <br/>
                    <p> <strong>{{user.nom}}</strong> </p>
                    <!-- <p>{{user.categorie}}</p> -->
                </div>
            </a>
            </div>
           
        </ion-content>
</ion-view>

<!-- ng-click="modifyList(user.nom)" "Pour ajouter dans la list de selectionner "   ng-class="{'inList': statusList}"   href="#/app/youtubeur/{{youtubeur.nom}}"-->
