<ion-view view-title="">
	<ion-content>
		<img style="width: 100%;" ng-src="{{vcitylogo}}">
			<div class = "row center">
				<div style="text-align:center" class="col">
				<!-- <ion-spinner icon="ripple"></ion-spinner> -->
					<button class="button button-block button-balanced" ng-click="inscription()">
						Inscription
					</button>
					<button class="button button-block button-calm" ng-click="login()">
						Connexion
					</button>
					<a href="#/app/videocity/exposant" class="button button-block button-assertive">
						Exposant
					</a>
				</div>
			</div>
		</ion-content>
</ion-view>
