/* Empty. Add your own CSS if you like */

.leo{
    border-radius: 100%;
    width: 25%;
    height: 100%;
}
.tamaman{
    margin-top: 90px;
    background-color: red;
}

.img-responsive {
display: block;
max-width: 100%;
height: auto;
}

 .formulaire{
     border: solid red 10px;
     background-color: #007aff;
     border-radius: 5%;
 }

 .inList{
     background-color: #009689;
 }
 .list{

     widht:50px;
     height: 50px;
 }

 .tri {
/*    float: left;*/
    width: 12.55%;
    /*margin: 0 1%;*/
    -moz-transform: skewY(0);
    -ms-transform: skewY(0);
    -webkit-transform: skewY(0);
    transform: skewY(0);
    box-sizing: border-box;
 }

@media (min-width: 300px)
{
    .nom{
        border: solid black 1px;
        width: 50%;
        height: 300px;
        float: left;
    }
}

@media (min-width: 640px)
{
    .nom{
        border: solid black 1px;
        width: 33.33333333333333%;
        height: 320px;
        float: left;
    }
}

 @media (min-width: 900px)
 {
    .nom{
        border: solid black 1px;
        width: 25%;
        float: left;
    }
}

 #info{
     padding:5px;
 }

 strong.info{
     text-align: center;
     color: orangered;
 }

 .plan{
     width: 300px;
     height: 300px;
 }


 p.accueil{
     margin-top: 30%;
     margin-left: 10%;
     font-size: 8em;
 }
 .top{
     margin-top: 15%;
 }
.accueil2{
    margin-top: 12%;
    margin-left: 40%;
    font-size: 2em;
}
.accueil{
     font-size: 2em;
     margin-top:15%;
     margin-left: 10%;
 }
.accueil{
     font-size: 2em;
     margin-top:15%;
     margin-left: 10%;
 }

.card{
    margin-top: 20%;
}

.test{
    margin-top: 15%;
    font-size: 150px;
}